body {
    background: linear-gradient(135deg, #0f172a, #a6b1d1);
    font-family: Arial;
    margin: 0;
}

.card {
    background-color: #161a20;
    width: 350px;
    margin: 80px auto;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    color: white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

h1 {
    color: #60a5fa;
}

button {
    background-color: #334155;
    color: white;
}

button:hover {
    background-color: #60a5fa;
    color: black;
}